!!! 5
%head
  %title
    Spatio Backend GUI

  :coffee
    @api_url = "#{settings.api_url}"
  <!-- Assets -->
  <!-- lib: -->
  != js :lib
  != css :lib
  <!-- /lib -->
  != js :app
  != css :app
  <!-- /Assets -->
%body
  .navbar
    .navbar-inner
      .brand Spatio - Backend
      %ul.nav.pull-left
        %li.format_definition
          %a{href: '/format_definition'}Format Definitions
        %li.import
          %a{href: '/import'}Imports
      %ul.nav.pull-right
        %li.import
          #api_status.label.nav{style: 'margin-top:10px;'} API: pending
  .container-fluid#container
    .row-fluid
      .span12
        #flash
          #flash_status.alert.alert-success.hide

    = yield
